header{
	color: white;
	background: #2c3e50;
	display: inline-flex ;
	width: 100%;
	text-align: justify-all;}
.pres{
	display: inline-flex;
	list-style: none;
	padding-top: -10px;
	margin: 20px;
	margin-left: 150px;}
h2{
	padding-top: 12px;}
.header_botton{
	padding-bottom: 30px;
	background:#228B22 ;
	width: 100%;}
span{display:inline-flex;
	width: 100%;
	justify-content: center;}
body{
	width: 100%;
}
section{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
	grid-gap: 2px;
	margin-right: 2px;
	justify-content: center;
	/*width: 100%;*/}
.portefeuille{
	text-align: center;}
.etoile{
	font-size: 50px;
}
div{
	/*margin: 20px 75px 20px 75px;*/
	border: 2px solid none;
	padding: 30px;
	border-radius: 50px;}
.imag1{
	background: #000000;
	/*height: 210px;
	width: 214px;}*/}
.grand1:hover {
	/*width: 214px;
	height: 210px;*/
	transform: scale(1.5);
	transition: 0.5s;
	transform: rotate(360deg);}
.grand2:hover {
	transform: scale(1.5);
	transition: 0.5s;}
.grand3:hover {
	transform: scale(1.5);
	transition: 0.5s;}
.imag2{
	background: #A52A2A;}
#mais{
	border: 1px solid green;
	padding-top: 90px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 80px;
	background: green;}
.imag3{
	background:#228B22;
	text-align: center;
	padding: 10px;}
figcaption{color: white;}
img{
	border-radius: 80px;}
footer{
	background: #2c3e50;
	display: grid;
 	grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
	grid-gap: 2px;
	/*display: inline-flex ;*/
	width: 100%;
	text-align: justify-all;
	color: white;}
.foot{
	/*margin: 0px 0px 0px 200px;*/
	border: 1px solid none;
	padding: 0px 10px 0px 10px;
	text-align: justify;}
.foot0{
	justify-content: space-between;}
.foot0 a{
	margin-left: 1px;
	padding: 5px;}
.autour{
	padding:5px;
	padding-left: 40px;
	padding-right: 40px;}
.autour h3{
	margin-left: -3rem;}
.autour ul{
	display: inline-flex;
	list-style-type: none;
	margin-left: -3rem;}

.foot1{
	border: 1px solid white;
	border-radius: 200px;
	padding: 10px;
	margin-right: 5px;
	margin-top: 40px;
	color: white;
	text-decoration: none;}
.fb{
	margin-bottom: 1rem;}
.wa:hover{
	color: white;
	background: #90FF09;
	transition: 1s;}
.in:hover{
	color: white;
	background: linear-gradient(blue,white);
	transition: 1s;}
.tw:hover{
	color: white;
	background: #191970;
	transition: 1s;}
.fb:hover{
	color: white;
	background: #196BFF;
	transition: 5s;
  	text-transform: uppercase;
  	transform: skew(10deg);}
 @media screen and (max-width: 768px){
 	body{ background: red; }}
 @media screen and (max-width: 768px){
 	footer{	/*display: grid;
 			grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
			grid-gap: 2px;*/
			width: 170%;}}
/*@media screen and (max-width: 1024px){
	.foot1{margin-top: 30px;}}*/
@media screen and (max-width: 768px){
	.autour ul{ flex-direction: column;
				padding-bottom: 40px; 
				boder: 1px solid red;}}
@media screen and (max-width: 350px){
	footer{ width: 100%; }
	header{ width: 150%; }
	}
@media screen and (min-width: 240px and max-width: 775px){
	header{ width: 300%; }
	}
/*@media screen and (max-width: 350px){
	header{ width: 150%; }*/
	}









