header{
	color: white;
	background: #2c3e50;
	display: inline-flex ;
	width: 100%;
}
.pres{
	display: inline-flex;
	list-style: none;
	padding: 5px;
/*margin-bottom: 15px;*/

}


@media all screen and(max-width: 768px)
{
	ul{
		margin-left: 150%;
	}
	body{
		background-color: green;
	}
}