header{
	color: white;
	background: #2c3e50;
	display: inline-flex ;
	width: 100%;
}
.pres{
	display: inline-flex;
	list-style: none;
	padding: 5px;
/*margin-bottom: 15px;*/

}

div{
	display: inline-flex;
	width: 100%;
	
}
.image{
	margin: 30px;
}
